<nav class="w-full flex items-center justify-between h-16 bg-white border-b border-[#E2E8F0]">
  <div class="w-full px-4 flex items-center justify-between h-16">
    <a href="" class="flex items-center">
      <img src="/navbar/Logo.png" alt="Logo" class="h-8" />
    </a>

    <div class="hidden lg:flex justify-end items-center">
      <ul class="flex gap-6">
        <li class="flex items-center">
          <i class="ph ph-medal"></i>
          <a class="TextoAtivo cursor-pointer"> Lista de certificados </a>
        </li>

        <li class="flex items-center">
          <i class="ph ph-circles-three-plus"></i>
          <a class="cursor-pointer "> Gerar certificado </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
