/* You can add global styles to this file, and also import other style files */

body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@theme {
  --font-display: "Dancing Script", cursive;
}

@import "tailwindcss";

.TextoAtivo {
 color:#3B5AC2;
}
